
<div class="card" style="min-height: 75vh;">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-6">
                <h4 class="card-title">
                    Lista de clientes
                </h4>
            </div>
        </div><br>

        <div *ngIf="service.entities | async as entities; else spinner">
            <table class="table table-bordered border table-responsive-md">
                <thead class="thead-light border-bottom">
                    <tr>
                        <!-- <th>ID</th> -->
                        <th>Nombre</th>
                        <th>Direcciones</th>
                        <th>Activo</th>
                        <th class="text-right">
                            <button class="btn btn-info btn-sm" (click)="openFormAsync(form)">
                                Agregar Nuevo
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor [ngForOf]="entities" let-client>
                        <tr>
                            <!-- <td>{{ client.id }}</td> -->
                            <td>{{ client.name }}</td>
                            <td>{{ client.address.length }}</td>
                            <td>
                                <span class="badge d-block" [ngClass]="[client.active ? 'badge-success' : 'badge-danger']"
                                    style="width: 1.5rem; height: 1.5rem;">
                                </span>
                            </td>
                            <td>
                                <div class="d-flex justify-content-end w-100">
                                    <button class="btn btn-sm btn-info text-white mr-2" (click)="editClient(form, client)">
                                        Editar
                                    </button>
                                    <button class="btn btn-sm btn-danger text-white" (click)="deleteClient(client)">
                                        Eliminar
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
                <tfoot *ngIf="entities.length < 1">
                    <tr>
                        <td colspan="99" class="text-center">
                            No hay registros
                        </td>
                    </tr>                      
                </tfoot>
            </table>
        </div>

        <ng-template #spinner>
            <div class="row justify-content-center mt-5">
                <div class="col-auto">
                    <div class="spinner-border text-info"></div>
                </div>
            </div>
        </ng-template>
    </div>
</div>

<ng-template #form let-modal>
    <app-clients-form [modalRef]="modal"></app-clients-form>
</ng-template>
